<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    package="rk.android.app.privacydashboard">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.GRANT_RUNTIME_PERMISSIONS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-permission android:name="com.samsung.accessibility.permission.OPEN_INSTALLED_SERVICES"/>

    <application
        android:name=".App" android:allowBackup="false" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:hardwareAccelerated="true" android:supportsRtl="true" android:theme="@style/AppTheme">
        <!--<uses-library
            android:name="com.samsung.device" android:required="true"/>-->
        <meta-data
            android:name="SamsungBasicInteraction" android:value="SEP10" />
        <meta-data
            android:name="com.samsung.android.icon_container.has_icon_container" android:value="true" />

        <activity
            android:name=".activity.MainActivity" android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|smallestScreenSize" android:launchMode="singleTop" android:exported="true">
            <meta-data
                android:name="com.samsung.android.startingwindow.LAYOUT_RESID_FOR_MASS" android:resource="@layout/oui_view_splash_layout" />
            <meta-data
                android:name="com.sec.android.app.launcher.icon_theme" android:value="themeColor" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.dashboard.DashboardActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:launchMode="singleTop" />

        <activity android:name=".activity.permission.PermissionUsageActivity" />
        <activity android:name=".activity.permission.PermissionDetailActivity" />

        <activity
            android:name=".activity.settings.SettingsActivity" android:exported="true" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.sec.android.intent.action.SEC_APPLICATION_SETTINGS" />
                <category android:name="com.sec.android.intent.category.SEC_APPLICATION_SETTINGS" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.settings.indicator.IndicatorSettingsActivity" />
        <activity android:name=".activity.settings.notification.NotificationSettingsActivity" />
        <activity
            android:name=".activity.settings.excluded.ExcludeSettingsActivity" android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".activity.about.AboutActivity" android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:launchMode="singleTop" android:theme="@style/OneUI4AboutTheme" />













        <activity android:name=".activity.appinfo.OldAppInfoActivity"/>


        <activity android:name=".activity.donation.DonationActivity"/>

        <service android:name=".service.PrivacyService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="camera|microphone|location"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/privacy_service" />
        </service>
        
    </application>
</manifest>